<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnitTestServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UnitTestServices.Properties.Settings>
            <setting name="UnitTestServices_localhost_GetTrackerServices"
                serializeAs="String">
                <value>http://localhost:50422/GetTrackerServices.asmx</value>
            </setting>
        </UnitTestServices.Properties.Settings>
    </applicationSettings>
</configuration>