<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GetTrackerServicesSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50422/GetTrackerServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="GetTrackerServicesSoap"
                contract="IssueService.GetTrackerServicesSoap" name="GetTrackerServicesSoap" />
        </client>
    </system.serviceModel>
</configuration>